
.SocialA, .SocialB, .SocialC, .SocialD {
    width: 200px;
    margin: 0px;
    position: relative;
    overflow: hidden;
    float: left;
    opacity: 0;
    animation: social 10s infinite;
}

.SocialA {
    animation-delay: 0;
}
.SocialB {
    animation-delay: 0.1s;
}
.SocialC {
    animation-delay: 0.2s;
}
.SocialD {
    animation-delay: 0.3s ;
}
.announcement {
    font-size: 100px;
    width: 900px;
    position: fixed;
    text-align: center;
    left: -70px;
    opacity: 0;
    font-family: 'Shrikhand', cursive;
    animation: announce 10s infinite;
}

@keyframes social {
    0% {
        transform: translate3d(0px,45px,0px);
        opacity: 0;
    }
    10% {
        transform: translate3d(0px,0px,0px);
        opacity: 1;
    }
    30% {
        transform: translate3d(0px,0px,0px);
        opacity: 1;
    }
    40%, 100% {
        transform: translate3d(0px,45px,0px);
        opacity: 0;
    }
}

@keyframes announce {
    0%, 30% {
        transform: translate3d(0px,0px,0px);
        opacity: 0;
    }
    40% {
        transform: translate3d(0px,0px,0px);
        opacity: 0;
    }
    50% {
        transform: translate3d(0px,0px,50px);
        opacity: 1;
    }

    80% {
        transform: translate3d(0px,0px,5000px);
        opacity: 1;
    }
}